
<section>
	<div class="row-fluid">
		<form name="form" ng-submit="cnt.vm.submit()">
			<div class="">
				<label>Nome</label> <input type="text" required
					ng-model="cnt.vm.entity.name">
			</div>
			
			<div class="">
				<label>Quantidade</label> <input type="number" min="0" required
					ng-model="cnt.vm.entity.quantidade">
			</div>
			
			<div class="">
				<label>Preço</label> <input type="text" required
					ng-model="cnt.vm.entity.valor">
			</div>


			<input type="submit" class="button " value="Salvar"> <input
				type="button" class=" button" ng-click="cnt.vm.goList()"
				value="Voltar">
		</form>
	</div>
</section>